@model PruebaTecnicaWebApp.Models.Empleado

@{
    ViewData["Title"] = "Crear Empleado";
}

<h1>Crear Empleado</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="formCreate" >
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NombrePuesto" class="control-label"></label>
                <input asp-for="NombrePuesto" class="form-control" />
                <span asp-validation-for="NombrePuesto" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IdTipoIdentificacion" class="control-label"></label>
                <select asp-for="IdTipoIdentificacion" class="form-control" asp-items="ViewBag.TiposIdentificacion">
                    <option value="">-- Seleccione un tipo de identificación --</option>
                </select>
                <span asp-validation-for="IdTipoIdentificacion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NumeroIdentificacion" class="control-label"></label>
                <input asp-for="NumeroIdentificacion" class="form-control" />
                <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-primary w-25">Crear</button>
                <a asp-action="Index" class="btn btn-primary btn-warning">Regresar</a>
            </div>
        </form>
    </div>
    <div class="col-md-8 text-center">
        <img src="https://media.licdn.com/dms/image/v2/C4D0BAQH-3Q1wX6Zmcg/company-logo_200_200/company-logo_200_200/0/1646750473239/lafise_investment_management_logo?e=2147483647&v=beta&t=Y88LOz-4LoJ64IaZjv8ew63Q8AnlYmJLqb-OnF5BkWU" width="800" height="700" class="img-fluid"/>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#formCreate").submit(function (e) {
                e.preventDefault();

                var isValid = true;
                var mensaje = "";

                if ($("#Nombre").val().trim() === "") {
                    isValid = false;
                    mensaje += "El campo 'Nombre' es obligatorio.\n";
                }

                if ($("#Apellido").val().trim() === "") {
                    isValid = false;
                    mensaje += "El campo 'Apellido' es obligatorio.\n";
                }

                if ($("#FechaIngreso").val().trim() === "") {
                    isValid = false;
                    mensaje += "El campo 'Fecha de Ingreso' es obligatorio.\n";
                }

                if ($("#NombrePuesto").val().trim() === "") {
                    isValid = false;
                    mensaje += "El campo 'Nombre del Puesto' es obligatorio.\n";
                }

                if ($("#IdTipoIdentificacion").val().trim() === "") {
                    isValid = false;
                    mensaje += "Debe seleccionar un 'Tipo de Identificación'.\n";
                }

                if ($("#NumeroIdentificacion").val().trim() === "") {
                    isValid = false;
                    mensaje += "El campo 'Número de Identificación' es obligatorio.\n";
                }

                if (!isValid) {
                    alert(mensaje);
                    return; 
                }

                var token = $('input[name="__RequestVerificationToken"]').val(); 

                var empleado = {
                    IdEmpleado: 0,
                    Nombre: $("#Nombre").val(),
                    Apellido: $("#Apellido").val(),
                    FechaIngreso: $("#FechaIngreso").val(),
                    NombrePuesto: $("#NombrePuesto").val(),
                    IdTipoIdentificacion: $("#IdTipoIdentificacion").val(),
                    NumeroIdentificacion: $("#NumeroIdentificacion").val(),
                    Identificacion: null
                };

                $.ajax({
                    url: '@Url.Action("Create", "Empleado")', 
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": token 
                    },
                    contentType: "application/json",
                    data: JSON.stringify(empleado),
                    success: function (result) {
                        
                        window.location.href = '@Url.Action("Index", "Empleado")';
                    },
                    error: function (xhr, status, error) {
                        alert("Error al crear el empleado: " + error);
                    }
                });
            });
        });
    </script>
}
