@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee behavior="alternate"><h1 class="display-4">Prueba Tecnica Wellman</h1></marquee>
    <div>
        <img src="https://greatplacetoworkcarca.com/wp-content/uploads/2021/10/Banco-LAFISE.png" width="800" height="300" />
    </div>
</div>
